//存放公共样式
// 整体布局
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}
// 头部搜索样式
.shop-header {
  height: 45px;
  line-height: 45px;
  background-color: #fff;
  padding: 0 2px;
}
// 底部的样式
.shop-footer {
  height: 45px;

  // background-color: #ff0;
  .mui-icon-extra-cart {
    display: block;
    margin: 0 auto
  }
}